on fs
    mkdir /preload
    mount_all /fstab.SHV-E210S
    exec /sbin/mount_primary.sh
    exec /sbin/modules.sh

    setprop ro.crypto.fuse_sdcard true

    chown radio system /efs
    chmod 0771 /efs

on boot
# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media wil be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk0 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/usbdisk0 /storage/usbdisk0
    class late_start
    disabled
